#logo {
    left: 1em;
    width: 5%;
    margin: 0;
    padding: 0;
}

#searchForm {
    position: absolute;
    left: 40%;
    width: 30%;

}

#authButtons {
    position: absolute;
    left: 80%;
    width: 10%;
}

.lastProducts p {
    text-align: center;
}

